* {
    font-family: 'Rubik', sans-serif;
}




.header_group_name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    background: rgba(9,157,141,0.7);
    color: white;
    font-size: 20pt;
    height: 3.75rem;
    position: sticky;
    top: 0;
}
.nav {
    width: 100%;
    height: 2.813rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(20,217,196,0.7);
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
}

a {
    color: white;
}
a:hover{
    color: rgb(0, 71, 54);
}

/* MI PARTE */
.section_intro {
    background-color: rgb(254, 226, 254);
    height: 504px;

}

cite {
    width: 260px;
    height: 50px;
   background-color: rgb(183, 225, 235);  /* quitar */
    /* funciona? */
    font-family: opensans;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    line-height: 1.39; /* espacio entre lineas */
    letter-spacing: normal;
    color: var (--black);
}

h3 {
    width: 89px;
    height: 45px; 
    background-color: beige; /* quitar */
    margin: 0 99 .5px 15px 101 .5px; /* no lo entiendo */
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: var (--aqua);
}

.section_intro p {
    width: 290px;
    height: 384px;
    background-color: rgb(246, 220, 201); /* quitar */
    margin: 15px 0 0;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style:normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var (--gunmetal);
    }

    /* SECTION 1 */
.section_img_background {
    width: 20rem;
    height: 26.313rem;
    position: relative;  
    bottom: 90px;
    
}
.section_img_background img{
    width: 100%;
    width: 100px;
}
footer {
    width: 20rem;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-top: 0.5px solid rgb(184, 184, 184);
}
footer p{
    opacity: 0.6;
    text-align: center;
    

}


footer nav{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding-top: 1.875rem;
    font-size: 14pt;
    opacity: 0.75;
   
}
footer img{
    width: 7.244rem;
    height: 2.813rem;
    position: relative;
    left: 110px;
    margin-top: 20px;
  
}