// fonts
$font-title: 'Rubik', sans-serif;
$font-text: 'Open Sans', sans-serif;

// colors
$color-bluegreen: #099d8d;
$color-aqua: #14d9c5;
$color-gunmetal: #54585a;
$color-grey: #b8b8b9;
$color-dark:$color-bluegreen;
$color-light: $color-aqua;
$color-text: $color-gunmetal;
$color-bg: $color-grey;

