.footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-top: 0.5px solid rgb(184, 184, 184);
  font-family: $font-text;
    & span{ 
      opacity: 0.6;
      text-align: center;
    }
    
      &__ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding-top: 15px;
        font-size: 0.875rem;
        opacity: 0.75;
          & li {
            padding-bottom: 3px;
          }
     


      }
      figure{
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 115.9px;
          height: 45px;
          margin-top: 20px;
          
        }
      }

  }


@media screen and (min-width: 768px){
  .footer{
    display:flex;
    
    span{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    
    figure{
      justify-content: flex-start;
      padding: 0;
    }
    nav{
      width: 50%;
      justify-content: flex-end;
    }
   
    
    
  }
// .footer{
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   span{
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//   }

//   }

//   &__ul{
//     display: flex;
//     flex-direction: column;
//     text-align: center;
    
//   }
//   figure{
//     width: 30%;
//     justify-content: flex-start;
//     }
}



