.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 0.8;
  font-family: $font-title;
  position: fixed;
  min-width: 320px;
  // position: sticky;
  // top: 0;
  z-index: 1;
    &__team {
      padding: 5px;
      background-color: $color-dark;
      color: white;
      text-align: center;
      a{
        color: white;
      }
      a:hover{
        color: goldenrod;
      }
      
      
    }
    &__ul {
      
      padding: 8px;
      background-color: $color-light;
      display:flex;
      justify-content: space-between;
      color: white;
      font-weight: bold;
      font-size: 0.938rem;
      & a:hover {
        color:goldenrod;
      }
      & a {
        color: white;
      }

    } 
 }

@media screen and (min-width: 768px){
  .header{
    display: flex;
    flex-direction: row;
    padding: 15px 45px 15px;
    background-color: $color-dark;
    
    nav{
      background-color: $color-dark;
      width: 100%;
      
      ul{
        background-color: $color-dark;
        justify-content: flex-end;
        gap: 15px;
      
        // justify-content: flex-end;
        
     
        
        
      }
      
    }
    
   
    &__team {
      display:flex;

      width: 100%;
      // justify-content: flex-start;
    }
  
  }
  .contacto{
    
  }
}



@media screen and (min-width: 1200px){
  .header{
    display: flex;
    flex-direction: row;
    padding: 15px 142px 15px;
    background-color: $color-dark;
    
    nav{
      background-color: $color-dark;
      width: 100%;
      
      ul{
        background-color: $color-dark;
        justify-content: flex-end;
        gap: 15px;
      
        // justify-content: flex-end;
        
     
        
        
      }
      
    }
    
   
    &__team {
      display:flex;

      width: 100%;
      // justify-content: flex-start;
    }
  
  }
  
    
  
}