.section_abilities {

    display: flex;
    background: rgba(184, 184, 185, 0.3);
    flex-direction: column;
    width: 320px;
    padding: 30px 15px 30px;

}

.section_abilities h2 {
    font-size: 1.40rem;
    font-family: $font-title;
    color: $color-dark;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    
}

.section_abilities  p {
    width: 290px;
    text-align: center;
    font-size: 1rem;
    color: $color-text;
    font-family: $font-title;
    padding: 0px 15px 30px;
}

@media (min-width: 768px) {
    

}

@media (min-width: 1200px) {

}