.section_us {

    width: 320px;
    padding: 0 0.938rem;
    font-family: $font-text;

    & div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            padding: 10px 0px 10px 0px;
            margin: 0.938rem 0px 0px 0px;
            font-size: 1.25rem;
            color: #000000;
            font-family: $font-title;

        }


        p {
            width: 290px;
            padding: 0px 4px 15px 4px;
            text-decoration: color #54585a;
            font-size: 1rem;
            line-height: 1.5;
            text-align: center;
        }


        span {
            display: flex;
            margin: 0.938rem 1.875rem 2.813rem 1.875rem;


            & a {

                color: $color-dark;

            }
        }
    }


    h2 {

        margin: 0 2.969rem 1.875rem 3.094rem;
        font-size: 1.5rem;
        color: $color-dark;
        margin-bottom: 1.875rem;
        margin-top: 1.875rem;
        font-family: $font-title;
    }

}

.figure_img {

    display: flex;
    justify-content: center;

    & img {

        width: 11.25rem;
        height: 11.25rem;
        border-radius: 0.25rem;
        border: 0.313rem solid rgba(0, 0, 0, 0.08);
    }

}

#spot ::after {
    margin-left: 0.438rem;
    margin-right: 0.438rem;
    content: "·";
    color: $color-text;

}