.section_intro {
    width: 100%;
    min-width: 320px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;


    & span {
        width: 290px;
        margin: -68.7px 15px 0;
        padding: 14px 15px 32px;
        background-color: rgb(255, 255, 255);
    }
    & cite {
        width: 260px;
        font-family: $font-text;
        font-size: 1rem; 
        font-weight: 600;
        font-style: normal;
        font-style: normal;
        line-height: 1.39;
        letter-spacing: normal;
        color: $color-cite;
    }

    & h3 {
        width: 89px;
        margin: 0 99px .496px 15px 101px .496px;
        font-family: $font-title;
        font-size: 1.5rem;
        font-weight: 500; 
        font-stretch: normal; 
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal; 
        text-align: center;
        color: $color-light;
    }

    & p {
        width: 290px;
        margin: 15px 0 0;
        font-family: $font-text;
        font-size: 1rem;
        font-weight: 300; 
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: $color-text;
    }

    & div {
        background-color: white;
        width: 30px;
        height: 30px;

        transform: rotate(45deg);
        margin: 16.8px 14.4px  -40.8px 14.2px;
    }
}

//TABLET
@media screen and (min-width: 768px) {
    .section_intro {
        width: 100%;
        min-width: 768px;
        // margin: 0 0 7px;
        // padding: 45px 45px 30px;

        span {
            width: 441px;
            margin: -103px 281px 0 46px;
            padding: 15px 30px;
            opacity: 0.8;
        }

        cite {
            width: 381px;
        }

        h3 {
            width: 89px;
            margin: 0 294.3px 15px 295px;
            font-size: 1.5rem;
            color: $color-dark;
        }
        
        p {
            width: 678px;
            margin: 15px 0 0;
            opacity: 0.67;
            // font-weight: 100;
        }

        div {
            // width: 30px;
            // height: 30px;
            margin: 16.8px 14.4px -44px 14.2px; //CAMBIAR !!
        }
    }
}
        

//DESKTOP
@media screen and (min-width: 1200px) {
    .section_intro {
        width: 1200px;
        // margin: 0 0 309px;
        // padding: 45px 300px 60px 299px;
    

        span {
            width: 574px;
            margin: -103px 281px 0 46px;
            padding: 15px 30px;
            opacity: 0.8;
        }

        cite {
            width: 514px;
        }

        h3 {
            width: 89px;
            margin: 0 255.3px 15px 257px;
            font-size: 1.5rem;
            color: $color-dark;
        }
        
        p {
            width: 601px;
            margin: 15px 0 0;
            opacity: 0.67;
            // font-weight: 100;
        }

        div {
            // width: 30px;
            // height: 30px;
            margin: 16.8px 14.4px  -44.2px 14.2px; //CAMBIAR !!
        }
    }
    
}