.section_img_background {
    width: 320px;
    height: 421px;
    background-size: 320px 421px;
     position: 0;
    // bottom: 90px;
    background-image: url(/images/background.jpeg.jpg);
   
}

// .section_img_background img {
//     width: 100%;
    
// }