<section class="section_intro" id="section_2">
    <span><cite>La vida no es esperar a que pase la tormenta, es aprender a bailar bajo la lluvia</cite> - Vivian
        Greene
    </span>

    <h3>EQUIPO</h3>
    <p>Has llegado a la web de DreamTeam. Somos Alba, Bianca, Valentina y Paula, un grupo de profesionales
        formadas en distintas áreas profesionales que nos hemos juntado para aportar la experiencia de un equipo
        multidisciplinar al mundo de la programación.
        <br>
        <br>
        Si has llegado hasta aquí, te invitamos a conocer más sobre nosotras y nuestra forma de trabajar.
    </p>
    <div class="section_intro__triangle"></div>
</section>