<section class="section_abilities">
    <div>
        <h2>Fortalezas</h2>
        <p> Al venir de distintos ámbitos laborales tenemos puntos de vista diferentes pero que al mezclarlos se complementan perfectamente, lo que nos hace un equipo creativo, multidisplinar y diverso.
             </p>
    </div>
    <div>
        <h2>Debilidades</h2>
        <p>
            Somos programadoras junior, eso está claro y estamos iniciándonos en este gran multiverso
            llamado programación, donde todos los días sale algo nuevo pero también se aprende mucho. Por eso nosotras compensamos nuestra falta de experiencia con unas ganas inmensas de demostrar de lo que somos
            capaces. 
        </p>
    </div>
</section>