<section class="section_us">
    <h2>QUIÉNES SOMOS</h2>
    <section>
        <figure class="figure_img">
            <img src="/images/ALBA MELCHOR GOMEZ.jpg">
        </figure>
        <div>
            <h3>Alba Melchor Gómez</h3>
            <p>Estudié Conservación y Restauración de Patrimonio cultural, pero mi creatividad
                unida al gran interés que siempre tuve en las nuevas tecnologías me hicieron descubrir el
                apasionante
                camino de la programación. Partiendo del desarrollo de videojuegos decidí especializarme en
                desarrollo web
                para seguir obteniendo más conocimientos del complejo mundo de la programación.</p>
        </div>
        <div>

            <span>
                <a href="" target="_blank"><i class="fa-brands fa-twitter" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin-in" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-github-alt" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-solid fa-envelope" id="spot"></i></a>
            </span>



        </div>
    </section>
    <section>
        <figure class="figure_img">
            <img src="/images/Bianca.jpeg" alt="Foto Bianca">
        </figure>
        <div>
            <h3>Bianca Mesa</h3>
            <p>Desarrolladora web full-stack especializada en front-end, ayudo a convertir tu proyecto en una
                incredible experiencia online. Mi energía creativa, curiosidad y pasión se combinan para crear
                proyectos de alta calidad. Creo en una atmósfera colaborativa y de apoyo, donde se reconozcan y
                aprecien las fortalezas y dones de cada miembro para crecer y evolucionar tanto individualmente
                como en grupo. </p>
        </div>
        <div>
            <span>
                <a href="" target="_blank"><i class="fa-brands fa-twitter" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin-in" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-github-alt" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-solid fa-envelope" id="spot"></i></a>
            </span>
        </div>
    </section>
    <section>
        <figure class="figure_img">
            <img src="/images/valentina.jpeg" alt="foto Valentina">
        </figure>
        <div>
            <h3>Valentina Luna Pláate</h3>
            <p>Diseñadora gráfica, apasionada de la fotografía y ahora con un nuevo reto y una nueva etapa para
                mi carrera profesional, la programación web. Tengo como meta ser una diseñadora híbrida para
                permitirme crear interfaces y poder desarrollarlos. Aunque me quede un largo trecho confiaré en
                el proceso y espero disfrutarlo mucho.

            </p>
        </div>
        <div>
            <span>
                <a href="" target="_blank"><i class="fa-brands fa-twitter" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin-in" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-github-alt" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-solid fa-envelope" id="spot"></i></a>
            </span>
        </div>
    </section>
    <section>
        <figure class="figure_img">
            <img src="/images/foto paula provisional.jpeg" alt="Foto Paula">
        </figure>
        <div>
            <h3>Paula Sanz Ilundain</h3>
            <p>Profesional versátil con experiencia en varios campos, desde la redacción a la edición de vídeo.
                Me decidí a salir del sector audiovisual y reinventarme en busca de una mejor calidad de vida y
                de un sector profesional en donde sentirme valorada y en donde poder contribuir con mi
                creatividad. He encontrado en la Programación Web un nuevo futuro y muchas ganas de demostrar de
                lo que soy capaz.</p>
        </div>
        <div>
            <span>
                <a href="" target="_blank"><i class="fa-brands fa-twitter" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin-in" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-github-alt" id="spot"></i></a>
                <a href="" target="_blank"><i class="fa-solid fa-envelope" id="spot"></i></a>
            </span>
        </div>
    </section>
</section>