<section class="section_abilities">
    <div>
        <h2>fortalezas</h2>
        <p> Al venir de distintos ámbitos laborales tenemos puntos de vista distintos pero que complementan
            entre ellos, lo que nos hace un equipo creativo, multidisplinar y diverso.
        </p>
    </div>
    <div>
        <h2>debilidades</h2>
        <p>
            Compensamos nuestra falta de experiencia con unas ganas inmensas de demostrar de lo que somos
            capaces.
        </p>
    </div>
</section>